/* generali */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
button:hover {
    cursor:pointer;
}

.debug {
    border:2px solid black;
}

main {
    margin-top: 60px;;
}

h2 {
    font-size: 32px;
}

h4 {
    font-size: 23px;
    margin-bottom:20px;
}

/*  regole header */

header {
    width:100vw;
    position:fixed;
    top:0px;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    z-index: 1;
    
}

.nav-bar {
    height:60px;
    line-height: 55px;
}

.nav-bar::after {
    content: '';
    display: block;
    clear: both;
}

#logo {
    vertical-align: middle;
}

.nav-item {
    height:100%;
    min-width: 5%;
    padding:0 15px;
}

.nav-item .blue-button {
    margin-right:10px;
}

/* Regola bottoni blue */
.blue-button {
    padding:5px 10px;
    color:white;
    background-color: #0061ff;
    border:none;
}
/* FINE Regola bottoni blue */

.nav-bar a {
    text-decoration: none;
    color:black;
}

.left {
    float:left;
}
.right {
    float:right;
}

/* JUMBO */
.jumbo-section {
    width:100vw;
    background-color: #b4d0e7;
}
#jumbo {
    height:500px;
    background-color: #b4d0e7;
    width:80%;
    margin:0 auto;
}

#jumbo img {
    height:70%;
    width:60%;
    float:right;
    margin-top:20px;
}

#jumbo img::after {
    content: '';
    display: block;
    clear: both;
}

#jumbo h2 {
    font-size: 62px;
    margin-top: 35px;
}

#jumbo p {
    width:30vw;
    margin-top: 35px;
    margin-bottom:20px;
    font-size: 14px;
}

#jumbo span {
    font-size:13px;
    margin-top:10px;
    display: inline-block;
}

/* PIANI */

#plans {
    width:65vw;
    height:1070px;
    margin:150px auto 300px auto;
}

.col {
    width:30%;
    margin-top:30px;
    float:left;
}


/* REGOLE COL HEAD */

#plans .col {
    width:30%;
    margin-top:30px;
    padding-bottom:20px;
    float:left;
    border:1px solid lightgray;
}

#plans .col-container {
    height:95%;
    width:100%;
}

.col-head {
   text-align: center;
   padding:5px 0;
   border-bottom: 1px solid lightgray;
}

.fattura{
    font-size: 14px;
}

/* COL-BODY */
.col-body,.col-footer {
    width:80%;
    margin:auto;
}

.col-body h4 {
    font-size: 22px;
    margin-top:20px;
    margin-bottom: 15px;
}

.col-body p {
    font-size: 13px;
    margin:12px 0;
}

.price {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 9px;
    display: inline-block;
}

.light-text {
    color:rgba(61, 51, 51, 0.664);
    display: inline-block;
    margin-bottom: 25px;
    font-size: 13px;
}

.col-body button {
    width:100%;
    margin:20px 0 15px 0;
}

#thin-line {
    width:20%;
    margin: 35px 0 35px 32px;
    color:rgb(231, 220, 220);
    
}


/* COL-FOOTER */

.col-footer li {
    font-size: 13px;
    list-style: none;
    margin-top:13px;
}

.fa-check {
    color:rgb(1, 146, 230);
}


/* Colonna centrale */
.central-col {
    width:30%;
    margin:30px 5%;
    float:left;
}

.col::after,.col-central ::after {
    content: '';
    display: block;
    clear: both;
}

.row {
    height:200px;
    background-color: red;
    margin:auto;
}


/* Sezione plans footer(ultima colonna orizzontale */

#plans-footer {
    height:200px;
    width:100%;
    border:1px solid lightgray;
    position:relative;
}

#plans h5 {
    font-size: 15px;
}

#plans-footer p{
    margin-top:20px;
    font-size: 13px;

}

#plans-footer .left {
    margin:20px 0 15px 25px;
}

#plans-footer div.left::after {
    content: '';
    display: block;
    clear: both;
}

#plans-footer button {
    position:absolute;
    right:30px;
    top:60px;
}

/* PARTNER SECTION */
#partner {
    width:65vw;
    height:auto;
    margin:0 auto 120px auto;
}

#partner div {
    display: inline-block;
}

#img-container {
    width:48%;
    float:left;
}

#img-container img {
    height:100%;
    width:100%;
}

.partner-text {
    padding-top:25px;
    width:48%;
    float:right;
}

.partner-text p {
    font-size: 13px;
    margin-bottom:20px;
}

.partner-text button {
    padding:5px 10px;
    border:1px solid black;
    background-color: white;
    font-weight: 500;
}

#partner::after {
    content: '';
    display: block;
    clear: both;
}

/* DROPBOX BUSINESS SECTION */

#operations {
    margin-top:100px;
    width:65vw;
    margin:auto;
    padding-bottom: 150px;
}


.operations-container {
    width:100%;
    height: 400px;
}

.operations-container img {
    width:100%;
    height:50%;
}

#operations p {
    font-size:13px;
}



#operations .operations-container {
    content: '';
    display: block;
    clear: both;
}

/* PARTNERSHIP */

.center-text{
    margin:auto;
    width:75vw;
}

.center-text p{
    padding:30px 0;
}

.col-side {
    width:30vw;
    float:left;
    text-align: center;
}

.col-side .item {
    width:15vw;
    height:15vw;
    float:left;
}

.item {
    position: relative;
}

.col-side .item img {
    width: 15vw;
    height: 15vw;
    object-fit: contain;
    padding: 2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.item #img1 {
    border:3px solid #d0e9cd;
}

#img1 {
    background-color: #a2d39b;
}

#img2 {
    background-color: #61082b;
}

#img3 {
    background-color: #0093ce;
}

#img4 {
    background-color: #ff1c1c;
}

#img5 {
    background-color: #d5001f;
}

#img6 {
    background-color: #b4d0e7;
}

#img7 {
    background-color: #0d2481;
}

#img8 {
    background-color: #ffd830;
}

.col-center {
    width:calc(100% - 60vw);
    float:left;
    height: 30vw;
    background-color: #f5f5f5;
}

.col-center-content img {
    height: 3vw;
    width:13vw;
    margin:30px;
}

#thinnn-line {
    width:5vw;
    margin:10px 0 40px 54px; 
}

.col-center-content p,
.col-center-content span {
    font-size: 13px;
    font-weight: 500;
    margin:0 0 40px 54px;
    text-align: left;

}

.customer-container::after {
    content: '';
    display: block;
    clear: both;
}

/* FREE TRIAL SECTION */

#free-trial {
    height:200px;
}


/* FAQ SECTION */

footer {
    background-color: black;
}


footer .col-container{
    width:90vw;
    height:300px;
    margin:auto;
    

}

footer .col {
    width:15vw;
    margin: 30px 20px;
    
}

.low-footer {
    margin:auto;
    color:white;
    background-color: grey;
    width:90vw;
}

