/* generali */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.debug {
    border:2px solid black;
}

main {
    margin-top: 60px;;
}

/*  regole header */

header {
    width:100vw;
    position:fixed;
    top:0px;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    
}

.nav-bar {
    height:60px;
    line-height: 55px;
    width:100wv;
}

.nav-bar::after {
    content: '';
    display: block;
    clear: both;
}

#logo {
    vertical-align: middle;
}

.nav-item {
    height:100%;
    min-width: 5%;
    padding:0 15px;
}

.nav-item .blue-button {
    margin-right:10px;
}

/* Regola bottoni blue */
.blue-button {
    padding:5px 10px;
    color:white;
    background-color: #0061ff;
    border:none;
}
/* FINE Regola bottoni blue */

.nav-bar a {
    text-decoration: none;
    color:black;
}

.left {
    float:left;
}
.right {
    float:right;
}

/* JUMBO */
.jumbo-section {
    width:100vw;
    background-color: #b4d0e7;
}
#jumbo {
    height:500px;
    background-color: #b4d0e7;
    width:80%;
    margin:0 auto;
}

#jumbo img {
    height:70%;
    width:60%;
    float:right;
    margin-top:20px;
}

#jumbo img::after {
    content: '';
    display: block;
    clear: both;
}

#jumbo h2 {
    font-size: 62px;
    margin-top: 35px;
}

#jumbo p {
    width:30vw;
    margin-top: 35px;
    margin-bottom:20px;
    font-size: 14px;
}

#jumbo span {
    font-size:13px;
    margin-top:10px;
    display: inline-block;
}

/* PIANI */

#plans {
    width:65vw;
    height:800px;
    margin:150px auto;
}

#plans h2 {
    font-size: 35px;
    margin-bottom:20px;
}

.col {
    height:700px;
    width:30%;
    margin-top:30px;
    float:left;
    border:1px solid lightgray;
}

/* REGOLE COL HEAD */

#plans .col {
    height:900px;
    width:30%;
    margin-top:30px;
    float:left;
    border:1px solid lightgray;
}

.col-head {
   text-align: center;
   padding:5px 0;
   border-bottom: 1px solid lightgray;
}

.fattura{
    font-size: 14px;
}

/* COL-BODY */
.col-body,.col-footer {
    width:80%;
    margin:auto;
}

.col-body h4 {
    font-size: 22px;
    margin-top:20px;
    margin-bottom: 15px;
}

.col-body p {
    font-size: 13px;
    margin:12px 0;
}

.price {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 9px;
    display: inline-block;
}

.light-text {
    color:rgba(61, 51, 51, 0.664);
    display: inline-block;
    margin-bottom: 25px;
    font-size: 13px;
}

.col-body button {
    width:100%;
    margin:20px 0 15px 0;
}

hr {
    width:20%;
    margin: 35px 0 35px 32px;
    color:rgb(231, 220, 220);
    
}


/* COL-FOOTER */
.col-footer h5 {
    font-size: 15px;
}
.col-footer li {
    font-size: 13px;
    list-style: none;
    margin-top:13px;
}

.fa-check {
    color:rgb(1, 146, 230);
}



.central-col {
    width:30%;
    margin:30px 5%;
    float:left;
}

.row {
    height:150px;
    background-color: red;
    margin:auto;
}

/* PARTNER SECTION */

#partner div {
    display: inline-block;
}

#img-container {
    width:40%;
    height:100%;
    float:left;
}

.partner-text {
    width:40%;
    height:100%;
    float:right;
}

/* OPERATION SECTION */

#operations {
    margin-top:100px;
    width:75vw;
    margin:auto;
    background-color: crimson;
}

.operations-container {
    width:100%;
    height: 400px;
    background-color: blue;
}

.operations-.operations-container {
    content: '';
    display: block;
    clear: both;
}

/* PARTNERSHIP */

#customer-full-container {
background-color: darkgoldenrod;
}

.center-text{
    margin:auto;
    width:75vw;
}

.col-side {
    width:30vw;
    color:blue;
    float:left;
}

.col-center {
    width:calc(100% - 60vw);
    color:darksalmon;
    float:left;
    height: 30vw;
}

.col-side .item {
    width:15vw;
    height:15vw;
    float:left;
    background-color: darkslateblue;
    border:2px solid red;
}

.customer-container::after {
    content: '';
    display: block;
    clear: both;
}

/* FREE TRIAL SECTION */

#free-trial {
    height:200px;
}


/* FAQ SECTION */

footer {
    background-color: black;
}


.col-container{
    width:90vw;
    height:300px;
    margin:auto;
    

}

footer .col {
    width:15vw;
    margin: 30px 20px;
    
}

.low-footer {
    margin:auto;
    color:white;
    background-color: grey;
    width:90vw;
}

